.ec-user-avatar {
    background: #222222;
    color: #ffffff;
    text-align: center;
    height: 40px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    line-height: 37px;
    border: 2px solid #aeaeae;
}
.invalid-feedback{
    display: block;
}